* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(135, 206, 235);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  box-sizing: border-box;
  margin: 2rem 0;
  font-size: 4rem;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;

  .red {
    padding-left: 1rem;
  }
}

.api {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  width: 100%;

  .clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    .analog {
      margin-bottom: 1rem;

      .analog_clock {
        background-color: white;
        $width: 15rem;
        width: $width;
        height: $width;
        border-radius: ($width/2);

        p {
          color: darkgray;
          font-weight: bold;
          margin: 0;
          display: flex;
          justify-content: center;
        }

        .analog_hour {
          width: 4em; // 바늘의 길이
          background-color: skyblue;
        }

        .analog_minute {
          width: 5em;
          background-color: skyblue;
        }

        .analog_second {
          width: 5em;
          background-color: red;
        }
      }
    }

    .digital {
      font-size: 2rem;
      font-weight: bold;
      color: white;
      display: flex;
      align-items: center;

      .digital_button {
        border: 1px solid white;
        padding: 0.2rem;
        margin-left: 0.5rem;
        font-size: 1rem;
      }
    }
  }

  .weather {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .weather_main {
      width: 100%;
      display: flex;
      color: white;

      .weather_icon {
        width: 60%;
      }

      .weather_desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;

        .weather_temp {
          font-size: 3rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }

        .weather_short {
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }

    .weather_detail {
      color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-weight: bold;

      span {
        margin: 0.3rem 0.5rem 0.3rem 1rem;
        color: lightgray;
      }
    }
  }
}

.analog_hour,
.analog_minute,
.analog_second {
  top: 50%;
  left: 50%;
  height: 2px; /* 바늘의 두께 */
  /* transform-origin을 100%로 설정하면 오른쪽 끝을 기준으로 회전합니다
	 * 만약 width: 2px로 하고 싶다면, transform-origin: bottom; 으로 설정하면 됩니다
   * 여기서는 height를 기준으로 했기 때문에 바늘이 처음에는 누워있는 상태라서
   * 자바스크립트에서 각도를 계산할 때 끝에 90을 더해줘야 원하는 대로 결과가 나옵니다
	 */
  border-radius: 1px;
  position: relative;
  transform-origin: 0%; /* 왼쪽 끝을 기준으로 회전 */
  transform: rotate(-90deg); // 12시 가리키기
}

.digital_button:hover {
  /* 버튼 위로 마우스를 가져오면 변화하는 기능을 추가합니다 */
  cursor: pointer; /* 커서를 포인터로 바꿉니다 */
  color: skyblue;
  background-color: white;
}

.digital_button:focus {
  /* AM/PM 버튼을 누르면 생기는 테두리를 제거합니다*/
  outline: none;
}
