* {
  font-family: "Nanum Pen Script", cursive;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
}

p {
  text-transform: uppercase;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;

  + .center {
    background: white -webkit-gradient(
        linear,
        left top,
        right top,
        from(#00ddff),
        to(#9400d3),
        color-stop(0.5, #fff)
      ) 0 0 no-repeat;
    -webkit-background-size: 150px;
    color: rgba(255, 255, 255, 0.3);
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
  }
}

.panel {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .center {
    transition: all 1s ease-in-out;
    font-size: 4rem;
  }

  .top,
  .bottom {
    transition: all 1s ease-in-out 0.2s;
    visibility: hidden;
  }
}

.panel.open {
  .top,
  .bottom {
    visibility: visible;
    font-size: 3rem;
    height: 15%;
  }

  .center {
    font-size: 5rem;
  }
}

.panel:nth-child(1) {
  background: linear-gradient(90deg, #d8f5ff 0%, #00ddff 100%);
}
.panel:nth-child(2) {
  background: linear-gradient(90deg, #00ddff 0%, #60a0ff 100%);
}
.panel:nth-child(3) {
  background: linear-gradient(90deg, #60a0ff 0%, #8a77ff 100%);
}
.panel:nth-child(4) {
  background: linear-gradient(90deg, #8a77ff 0%, #9400d3 100%);
}

@keyframes shine {
  20% {
    background-position: top left;
  }
  80% {
    background-position: top right;
  }
}
